# Pycharm stuff
.idea

# Compiled Object files
*.o

# python compiled files
*.pyc

# OS-specific files
.DS_Store

# Emacs backup files
*~

# Emacs autosave files
.[#]*
[#]*[#]

# Setuptools distribution folder
/dist/

# Output
docs/build
build/lib
build/scripts-2.7

pygcam.egg-info
pygcam/archive
*.orig
pygcam-saved.tgz
pygcam-saved-2.tgz
setuptools-21.0.0-py2.7.egg
setuptools-21.0.0.zip
pygcam/jugdir
