include README.md
include LICENSE.txt
include setup.py
include ez_setup.py

# Source code
include pygcam/*.py
graft pygcam/built_ins

# Assorted data files
graft pygcam/etc

# Documentation source as well as generated html
graft docs/source
include docs/[mM]ake*

# anaconda environment definitions
graft envs

# Test code
graft tests

global-exclude .DS_Store .gitignore *.pyc
