include README.md
include LICENSE.txt
include setup.py

# Source code
include bin/gcamtool.py
include pygcam/*.py

# Documentation source as well as generated html
graft docs/source
graft docs/build/html
include docs/[mM]ake*

# Test code
graft pygcam/test

# Assorted data files
graft pygcam/etc

global-exclude .DS_Store .gitignore *.pyc
