configparser
dash-core-components
dash-html-components
dash-renderer
filelock
Flask
future
futures
ipyparallel
lxml
matplotlib
numexpr
numpy
pandas
python-dateutil
scipy
seaborn
semver
setuptools
six
sphinx-rtd-theme
sphinx-argparse
SQLAlchemy
tornado
traitlets
