configparser
dash-core-components
dash-html-components
dash-renderer
filelock
flask
future
futures
ipyparallel
lxml
matplotlib
numexpr
numpy
pandas
python-dateutil
salib
scipy
seaborn
semver
setuptools
six
sphinx-rtd-theme
sphinx-argparse
sqlalchemy
tornado
traitlets
