configparser==3.5.0
dash-core-components==0.14.0
dash-html-components==0.8.0
dash-renderer==0.11.1
filelock==2.0.12
future==0.16.0
futures==3.1.1
ipyparallel==6.0.2
lxml==4.1.0
matplotlib==2.1.0
numexpr==2.6.2
numpy==1.13.3
pandas==0.20.3
scipy==0.19.1
seaborn==0.8
semver==2.7.7
six==1.11.0
sphinx-argparse==0.1.17
sphinx-rtd-theme==0.2.4
