configparser==3.5.0
dash==2.7.0
#filelock==3.0.8
future==0.18.2
#futures==3.1.1
ipyparallel==8.4.1
lxml==4.9.1
matplotlib==3.6.2
#numexpr==2.6.8
numpy==1.23.5
pandas==1.5.2
python-dateutil==2.8.2
rpy2==3.5.6
scipy==1.9.3
seaborn==0.12.1
semver==2.13.0
#six==1.16.0
sphinx-argparse==0.3.1
sphinx_rtd_theme==1.1.1
sqlalchemy==1.4.44
tornado==6.2
traitlets==5.6.0
